/*color pallette
rgb(222, 214, 212) cream
rgb(134, 152, 171) light grey
rgb(64, 76, 89)  dark grey
rgb(92, 140, 164) cadet blue
font-family: 'Lato', sans-serif; body text
/*HEADER----------------------------------------------*/
html, body{
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  position: relative;
  height:100%;
  width:100%;
  overflow-x: hidden;
}
img{
  width:100%;
  height:100%;
}
a{
  color:white;
}
a:hover{
  color: rgb(134, 152, 171);
  text-decoration: none;
}
h1, h2, h4{
  color:white;
  font-family: 'Merriweather', serif;
}

.fonts{
  font-family: 'Lato', sans-serif;
  color: white;
}
/*.hidden{
  display:none;
}*/
.lTabs{
  display: flex;
    align-items: center;
  position:absolute;
  height:60px;
  color: white;
  font-family: 'Merriweather', serif;
  background: linear-gradient( to right, rgba(64, 76, 89, 1), rgba(23, 2, 102, 0));
  padding: 5px;
}
#left1{
  width:33%;
  top:10%;
  /*margin-left: 5px;*/
}

#left2{
  width:27%;
  top:21%;
}

#left3{
  width:21%;
  top:32%;
}


.rTabs{
  display: flex;
    align-items: center;
  position:absolute;
  height:60px;
  color: white;
  font-family: 'Merriweather', serif;
  background: linear-gradient( to left, rgba(64, 76, 89, 1), rgba(23, 2, 102, 0));
  padding: 10px;
}
.lTitle{
margin-left: 5px;
position: relative;

}
.rTitle{
margin-left: 5px;
}
#right1{
  justify-content: flex-end;
  align-items: center;
  width:33%;
  top:10%;
  right:0;

}
#right2{
  justify-content: flex-end;
  width:27%;
  top:21%;
  right:0;
}
#right3{
  justify-content: flex-end;
  width:21%;
  top:32%;
  right:0;
}


#introDiv{
  font-family: 'Merriweather', serif;
  position:absolute;
  min-width:50%;
  min-height: 50%;
  margin:0 25%;
}
/*#leftCont, #rightCont{
  display:none;
}*/
#leftCont{
  position:absolute;
  top: 40%;
  left: 40%;
  min-width: 5%;
  min-height:25%;
  font-size: 50px;
  text-align: center;
  /*border-left: 5px solid black;
  border-bottom:5px solid black;
  border-top: 5px solid black;*/
}
#rightCont{

  border-radius: 3px;
  position:absolute;
  top: 40%;
  right: 40%;
  min-width: 5%;
  min-height:25%;
  font-size: 50px;
  text-align: center;
  /*border-right: 5px solid black;
  border-bottom:5px solid black;
  border-top: 5px solid black;*/
}

.ghostBtn{
  background-color: transparent;
  background-repeat:no-repeat;
  border-color: black;
  border-style: solid;
  border-radius:3px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  -webkit-transition: color 0.5s, background-color 0.5s, border-color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

}
.ghostBtn:hover{

  background-color:rgba(0,0,0,1);
  color: white;
  /*border-color: rgba(255,255,255, 1);*/
}

#portItem1, #portItem2, #portItem3, #portItem4{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-content: center;
}
#portItem1 {
  position:absolute;
    top:15%;
    left:4%;
}

#portItem2 {
  position:absolute;
  top:5%;
  left:28%;
}

#portItem3 {
  position:absolute;
  top:5%;
  left:52%;
}

#portItem4 {
  position:absolute;
  top:15%;
  left:76%;
}
.portfolio{
  border-radius: 3px;
  background-color: rgba(64, 76, 89, 1);
  height:55%;
  width:20%;
}

.portImg{
  /*display: flex;
    align-self: flex-start;*/
  margin:5%;
  /*border-radius: 3px;*/
  position:absolute;
  width:90%;
  height:33%;
  /*align-content: center;*/
}


.imageTitle{
  color: white;
  border-bottom: 3px solid white;
  position:absolute;
    top: 38%;
  width:90%;
  height:10%;
  margin: 5%;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.portPara{
  font-family: 'Lato', sans-serif;
  color: white;
  position: absolute;
    top: 53%;
  margin: 5%;
}
/*==============================================================================
Meet Me
===============================================================================*/
#D{
  position:absolute;
  top:5%;
  left:5%;
  font-size: 50px;
}
#C{
  position:absolute;
  top:5%;
  right:5%;
  font-size: 50px;
}

#mainPage{
  width:80%;
  margin: 10px auto;
  display:flex;
    justify-content: space-between;
    align-items: end;
}

#introBtn{
  /*GET THIS TO SHOW UP AT BOTTOM OF DIV*/
  width: 250px;
  height:65px;
  font-size: 32px;
  font-family: 'Merriweather', serif;
}
#mainImgCont{

  /* position: absolute; */
  top:10%;
  left:10%;
  /*height: 300px;*/
  width:375px;
  background-color: rgba(64, 76, 89, 0.8);
  border-radius: 3px;
  padding: 10px;
  font-family: 'Merriweather', serif;
  color:white;
}
#mainImg{
  height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#mainBio{
  /* position: absolute; */
  top:10%;
  right:10%;
  width: 375px;
  background-color: rgba(64, 76, 89, 0.8);
  border-radius: 3px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  color:white;
}
.header{
  font-family: 'Merriweather', serif;
}

/*==============================================================================
Contact
===============================================================================*/
#contact{
  position: absolute;
  top: 50%;
  left:50%;
  display:flex;
  justify-content: space-around;
  height: 450px;
  margin-top:-225px;
  width:650px;
  margin-left:-325px;
  background-color: rgba(64, 76, 89, 1);
  /*margin: auto;*/
  border-radius: 3px;
  padding: 5px;
}
.contactInner{
  width:100%;
  height:100%;
}
/*==============================================================================
Resume
===============================================================================*/
#resume{
  position: absolute;
  top: 50%;
  left:50%;
  display:flex;
  justify-content: space-around;
  height: 450px;
  margin-top:-225px;
  width:650px;
  margin-left:-325px;
  background-color: rgba(64, 76, 89, 1);
  /*margin: auto;*/
  border-radius: 3px;
}

#pdf{
  margin: 25px;
  overflow-x: hidden;
}
/*==============================================================================
CONTACT LINKS
===============================================================================*/
#github, #linkedIn, #stack{
  height:60%;
  width: 33%;
  margin:auto;
}
#github{
  padding: 0 5% 0 5%;
}
.contacts{
  border-radius:3px;
  position: absolute;
    bottom:5%;
    left:2.5%;
  display:flex;
  justify-content: space-around;
  background-color: rgba(64, 76, 89, 1);
  height:10%;
  width:15%;
}
/*==============================================================================
LATEST
===============================================================================*/
#latest{
  position: absolute;
  top: 50%;
  left:50%;
  display:flex;
  justify-content: space-around;
  height: 450px;
  margin-top:-225px;
  width:650px;
  margin-left:-325px;
  background-color: rgba(64, 76, 89, 1);
  /*margin: auto;*/
  border-radius: 3px;
  padding: 5px;
}
/*==============================================================================
INFO BUTTON
===============================================================================*/
#infoBtn{
  position: absolute;
  bottom: 5%;
  right:2.5%;
  border-radius:50%;
  width:45px;
  height:45px;
  font-size: 30px;
}

#infoBox{
  /*SET UP FUNCTION TO TOGGLE DISPLAY SETTING*/
  display: none;
  position: absolute;
  background-color: rgba(64, 76, 89, 1);
  bottom:12%;
  right: 2.5%;
  margin: 5px;
  height: 100px;
  width: 25%;
}

.active{
}
